<div class="m-3">
  {% if is_paginated %}
    <nav aria-label="Search results pages">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_text %}&search_text={{ search_text }}{% endif %}">
              &laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% if page_obj.number > 5 %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}{% if search_text %}&search_text={{ search_text }}{% endif %}">
                {{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if paginator.num_pages > page_obj.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}
              {% if search_text %}&search_text={{ search_text }}{% endif %}">
              &raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
