{% load utils_tags %}

<div class="m-3">
  {% if is_paginated %}
    <nav aria-label="Search results pages">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_text %}&search_text={{ search_text }}{% endif %}">
              &laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
        {% for i in page_range %}
          {% if page_obj.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
              <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}{% if search_text %}&search_text={{ search_text }}{% endif %}">
                {{ i }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}
              {% if search_text %}&search_text={{ search_text }}{% endif %}">
              &raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
