{% extends "base.html" %}
{% load static i18n %}
{% block title %}{{ object }}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">{{ object }}</div>

  {% if object.notes %}
    <h4>Notes</h4>
    <p>{{ object.notes }}</p>
  {% endif %}

  <h4>Members</h4>
  <div class="list-group list-group-flush">
    {% for employee in object.employees.all %}
      <div class="list-group-item">
        <h5 class="list-group-item-heading">
          <a href="{% url 'personnel:employee_detail' employee.pk %}">
            {{ employee }}
          </a>
        </h5>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

