<h4 class="mt-5 mb-0">Percent foreign born</h4>
<table class="table table-hover">
  {% include 'stats/partials/vrc_usct_table_head.html' %}
  <tbody>
    <tr>
      <th scope="row">Foreign born</th>
      <td>{{ foreign_born.vrc|floatformat }}%</td>
      <td>{{ foreign_born.non_vrc|floatformat }}%</td>
      <td>{{ foreign_born.usct|floatformat }}%</td>
      <td>{{ foreign_born.everyone|floatformat }}%</td>
    </tr>
  </tbody>
</table>

<div class="row">

  <div class="col">
    <h4 class="mt-5 mb-0">Top birthplaces</h4>
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Number of employees</th>
      </tr>
      </thead>
      <tbody>
      {% for region, country, count in top_birthplaces %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <th scope="row">{% if region %}{{ region }}{% else %}{{ country }}{% endif %}</th>
          <td>{{ count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col">
    <h4 class="mt-5 mb-0">Top death places</h4>
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Number of employees</th>
      </tr>
      </thead>
      <tbody>
      {% for region, country, count in top_deathplaces %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <th scope="row">{% if region %}{{ region }}{% else %}{{ country }}{% endif %}</th>
          <td>{{ count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>
