{% extends "stats/base.html" %}

{% block title %}Detailed Statistics{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">Detailed Statistics</div>

    <ul class="nav nav-pills tablist mt-3" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="age-tab" data-toggle="tab" href="#age" role="tab"
           aria-controls="age" aria-selected="true">Age</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="birthplace-tab" data-toggle="tab" href="#place" role="tab"
           aria-controls="birthplace" aria-selected="false">Place of birth/death</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ailment-tab" data-toggle="tab" href="#ailment" role="tab"
           aria-controls="ailment" aria-selected="false">Ailment</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="age" role="tabpanel" aria-labelledby="age-tab">
        {% include 'stats/partials/age_tab.html' %}
      </div>
      <div class="tab-pane fade" id="place" role="tabpanel" aria-labelledby="place-tab">
        {% include 'stats/partials/place_tab.html' %}
      </div>
      <div class="tab-pane fade" id="ailment" role="tabpanel" aria-labelledby="ailment-tab">
        {% include 'stats/partials/ailment_tab.html' %}
      </div>
    </div>

  </div>
{% endblock content %}
