html, body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Gentium Basic', serif;
}

header,
footer {
  flex: none;
}

main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

.responsive-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}
