{% extends "base.html" %}
{% load static i18n %}
{% block title %}Bureau States{% endblock %}

{% block content %}
  <div class="container">
    <h2>Bureau States</h2>

    <div class="list-group list-group-flush">
      {% for state in region_list %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">{{ state.name }} ({{ state.employees_employed.count }}
            employee{{ state.employees_employed.count|pluralize }}, {{ state.percent_vrc_employees|floatformat }}% VRC)</h4>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

