{% extends "base.html" %}
{% load static i18n utils_tags %}
{% block title %}{{ object }}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">{{ object }} - {{ object.employees_employed.count }} employee{{ object.employees_employed.count|pluralize }}
      ({{ object.percent_vrc_employees|floatformat }}% VRC)</div>

  <h4 class="py-3">Assignment Location{{ assignment_places.count|pluralize }}</h4>

  <div class="list-group list-group-flush">
    {% for place in assignment_places %}
      <div class="list-group-item">
        <h5 class="list-group-item-heading">
          <a href="{% url 'assignments:assignment_list' place.pk %}">
            {{ place }}
          </a>
        </h5>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}

