{% extends "base.html" %}
{% load static i18n utils_tags %}
{% block title %}Assignments{% if place %} in {{ place }}{% endif %}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">Assignments{% if place %} in {{ place }}{% endif %}
    {% if assignment_list %} ({{ assignment_list.count }}){% endif %}</div>

  <div class="list-group list-group-flush">
    {% for assignment in assignment_list %}
      <div class="list-group-item">
        <h5 class="list-group-item-heading">
          {{ assignment }}

          <div class="pl-4">
          <a href="{% url 'personnel:employee_detail' assignment.employee.pk %}">
            {{ assignment.employee }}
          </a>
          </div>

        </h5>
      </div>
    {% empty %}
      No assignments found
    {% endfor %}
  </div>

</div>
{% endblock content %}

